<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#41644A">
  <meta name="description" content="Restaurant Apps adalah aplikasi yang menyediakan informasi tentang berbagai restoran.">

  <link rel="apple-touch-icon" href="../public/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>Restaurant Apps</title>
</head>

<body>
  <header class="container_header">
    <a href="#main_resto" class="skip-link">Skip to main content?</a>
    <div class="header_item">
      <h1>Daffa Resto</h1>
    </div>
    <div>
      <a href="#" id="hamburgerButton" class="nav_burger" aria-label="Menu">☰</a>
    </div>

    <nav id="navigationDrawer" class="container_navbar">
      <ul>
        <li><a class="nav_item" href="#/home">Home</a></li>
        <li><a class="nav_item" href="#/favorite">Favorite</a></li>
        <li><a class="nav_item" href="https://www.linkedin.com/in/daffahabibullah" target="_blank" rel="noreferrer">About Us</a></li>
    </ul>
    </nav>
  </header>

  <main id="mainContent" class="container_main" tabindex="0">
    
  </main>

  <footer>
    <p>Copyright &copy; 2023 - Daffa Resto</p>
  </footer>

</body>

</html>